.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/*.font-size(@font-size: 16){
@rem: (@font-size / 10);
font-size: @font-size * 1px;
font-size: ~"@{rem}rem"; }*/
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#grid {

  .core (@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~".span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .offsetX (@index) when (@index > 0) {
      (~".offset@{index}") { .offset(@index); }
      .offsetX(@index - 1);
    }
    .offsetX (0) {}

    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
    }

    .span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }

    .row {
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }

    [class*="span"] {
      float: left;
      margin-left: @gridGutterWidth;
    }

    // Set the container width, and override it for fixed navbars in media queries
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container { .span(@gridColumns); }

    // generate .spanX and .offsetX
    .spanX (@gridColumns);
    .offsetX (@gridColumns);

  }

  .fluid (@fluidGridColumnWidth, @fluidGridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~".span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .offsetX (@index) when (@index > 0) {
      (~'.offset@{index}') { .offset(@index); }
      (~'.offset@{index}:first-child') { .offsetFirstChild(@index); }
      .offsetX(@index - 1);
    }
    .offsetX (0) {}

    .offset (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth*2);
	  *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + (@fluidGridGutterWidth*2) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .offsetFirstChild (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth);
      *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
    }

    .span (@columns) {
      width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
      *width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .row-fluid {
      width: 100%;
      .clearfix();
      [class*="span"] {
        .input-block-level();
        float: left;
        margin-left: @fluidGridGutterWidth;
        *margin-left: @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
      }
      [class*="span"]:first-child {
        margin-left: 0;
      }

      // generate .spanX and .offsetX
      .spanX (@gridColumns);
      .offsetX (@gridColumns);
    }

  }

  .input(@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      (~"input.span@{index}, textarea.span@{index}, .uneditable-input.span@{index}") { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .span(@columns) {
      width: ((@gridColumnWidth) * @columns) + (@gridGutterWidth * (@columns - 1)) - 10;
    }

    input,
    textarea,
    .uneditable-input {
      margin-left: 0; // override margin-left from core grid system
    }

    // Space grid-sized controls properly if multiple per line
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: @gridGutterWidth;
    }

    // generate .spanX
    .spanX (@gridColumns);

  }

}*/
.ir {
  display: block;
  text-indent: -300%;
  overflow: hidden;
  background-repeat: no-repeat;
}
.floatleft,
.floatl {
  float: left;
  margin: 0 10px 5px 0;
}
.floatright,
.floatr {
  float: right;
  margin: 0 0 5px 10px;
}
.visuallyhidden,
.element-invisible,
.skip a:link,
.skip a:hover,
.skip a:visited {
  position: absolute;
  left: -300%;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip a:active,
.skip a:focus {
  position: static;
  width: auto;
  height: auto;
}
/*a:link, a:visited, button {
 -webkit-transition: color 0.2s ease, background 0.3s ease;
 -moz-transition: color 0.2s ease, background 0.3s ease;
 -o-transition: color 0.2s ease, background 0.3s ease;
 transition: color 0.2s ease, background 0.3s ease; }*/
#cke_contents_edit-body-und-0-value body {
  background: none !important;
}
#admin-menu .shortcut-toolbar a {
  background: inherit;
}
img,
canvas {
  max-width: 100%;
  height: auto;
}
.ie8 img,
.ie8 canvas {
  max-width: none;
}
.media-wrapper,
.embedded-video,
.media_embed {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0 !important;
  overflow: hidden;
}
.media-wrapper iframe,
.media-wrapper object,
.media-wrapper embed,
.embedded-video iframe,
.embedded-video object,
.embedded-video embed,
.media_embed iframe,
.media_embed object,
.media_embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* UI improvments */
#edit-title {
  font-size: 24px;
}
#system-themes-form img {
  width: 100px;
}
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  /* 16px is our base size - divide target size by 16 for a declaration of ems - but remember, unlike rems, they cascade */
  font-size: 0.6875em;
  margin-top: 5px;
  color: #777;
}
#edit-delete {
  color: #c00;
}
.node-unpublished {
  background-color: #fff;
}
.node-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  /* 16px is our base size - divide target size by 16 for a declaration of ems - but remember, unlike rems, they cascade */
  font-size: 4.6875em;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* Fix Pager Styles */
.item-list .pager li {
  padding: 0;
}
.item-list ul li {
  margin: 0;
}
.pager li.pager-current {
  display: inline-block;
  padding: 5px 14px;
  background-color: #eee;
  border: 1px solid #ddd;
}
/* Fix ugly article footer styles */
article footer {
  background-color: inherit;
}
/* Add Tab styles that aren't hideous */
/* @group Tabs */
div.tabs {
  margin: 0 0 5px 0;
}
ul.primary,
ul.secondary {
  width: 99%;
}
ul.primary {
  margin: 0 0 .5em 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  border-bottom: 1px solid #eee;
}
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: #b3b3b3;
}
ul.primary li a {
  display: block;
  height: 28px;
  margin: 0 3px 0 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
  background-color: #eee;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
ul.primary li a:hover {
  border-width: 0;
  background-color: #d9d9d9;
}
ul.primary li a .tab {
  display: block;
  height: 24px;
  margin: 0;
  padding: 4px 13px 4px 6px;
  border-width: 0;
  line-height: 20px;
}
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
}
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
}
ul.secondary a .active,
.active ul.secondary a:hover {
  border: 1px solid silver;
  color: #000;
}
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
/* @end */
.inflate {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}
.nopadding {
  padding-left: 0;
  padding-right: 0;
}
body {
  background: #cccccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-width: 240px;
}
#main {
  background-color: #fff;
}
#ubc7-unit-identifier.no-umbrella {
  line-height: 2.25em;
}
#ubc7-unit,
#ubc7-unit-name a {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #333333;
}
#ubc7-unit-name a:hover,
#ubc7-unit-name a:active {
  text-shadow: 1px 2px 2px #333333;
}
/*
#ubc7-unit-menu .nav > li > a.active,
#ubc7-unit-menu .nav > li.active-trail > .btn-group, 
#ubc7-unit-alternate-navigation .nav > li.active-trail > .btn-group {
  background:  @ubcSilver;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125); }
#ubc7-unit-menu .nav-collapse .nav > li > a:hover, 
#ubc7-unit-menu .nav-collapse .dropdown-menu a:hover, 
#ubc7-unit-alternate-navigation .nav-collapse .nav > li > a:hover, 
#ubc7-unit-alternate-navigation .nav-collapse .dropdown-menu a:hover {
  color:  #fff;
  text-decoration: none; 
  background-color: @ubcBlue !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }  
#ubc7-unit-menu .nav > li.active-trail:hover > .btn-group {
  background: @ubcBlue; }
#ubc7-unit-menu .nav > li.active-trail > .btn-group .btn,
#ubc7-unit-alternate-navigation .nav > li.active-trail > .btn-group .btn {
  background: 0; }

// this is the fix for the clf line height issue with no dropdown
#ubc7-unit-menu .nav > li  > a { padding: 10px 15px !important; }
*/
.form-type-radio,
.form-type-checkbox {
  margin-bottom: 5px;
}
.form-type-radio input[type="radio"],
.form-type-checkbox input[type="checkbox"] {
  margin: 0;
}
.form-type-radio > label,
.form-type-checkbox > label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 10px;
  line-height: 20px;
}
@media screen and (min--moz-device-pixel-ratio: 0) and (min-width: 1200px) {
  #ubc7-unit-menu .nav > li > a {
    padding-top: 11px !important;
  }
}
/*#ubc7-header, div#ubc7-unit, #ubc7-unit-menu, ul.breadcrumb, #main, #ubc7-unit-footer, #ubc7-global-footer, #ubc7-minimal-footer {
-moz-box-shadow: 0px 3px 5px #444;
-webkit-box-shadow: 0px 3px 5px #444;
box-shadow: 0px 3px 5px #444; }*/
/** Social Icon **/
#ubc7-unit-social-icons i:hover {
  color: #2f5d7c;
}
.bootstrap-sidenav ul {
  margin: 0;
}
.bootstrap-sidenav ul > li > a {
  border: 1px solid #d7e0e7;
  color: #002145;
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px 8px 28px;
  text-decoration: none;
}
.bootstrap-sidenav .bootstrap-sidenav {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* add active style to sidenav */
.bootstrap-sidenav > .active > a,
.bootstrap-sidenav a.active {
  background: #d7e0e7;
}
.bootstrap-sidenav .nav > li > a {
  padding-left: 28px;
}
.field-label-inline label {
  display: inline-block;
}
html.js fieldset.collapsible .fieldset-legend,
html.js fieldset.collapsed .fieldset-legend {
  background-image: none;
}
html.js fieldset.collapsible .fieldset-legend a:after,
html.js fieldset.collapsed .fieldset-legend a:after {
  position: absolute;
  left: 0;
  top: 0;
}
html.js fieldset.collapsible .fieldset-legend a:after {
  content: "-";
}
html.js fieldset.collapsed .fieldset-legend a:after {
  content: "+";
}
#ubc7-search #block-search-form .form-actions {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: inherit;
  border-top: none;
}
#ubc7-search #block-search-form input[type="search"] {
  margin-bottom: 0;
}
@media screen and (max-width: 979px) {
  .inflate {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.crumbs {
  background: white;
}
#panels-dnd-main div.panel-region h2.label {
  background-color: inherit;
  margin: .25em 0 .5em 0;
}
.alert .close {
  text-decoration: none;
}
.alert-danger a,
.alert-error a {
  color: #fff;
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 979px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 720px) {
}
@media screen and (max-width: 520px) {
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
#toolbar .bootstrap-sidenav {
  background-color: transparent;
}
@media print {
  /* Use this stylesheet for print styles only. */
  * {
    background-color: transparent;
  }
  #toolbar,
  #ubc7-header,
  #navigation,
  #content-bottom,
  #ubc7-footer,
  aside,
  .breadcrumb,
  .tabs,
  .nav-tabs,
  .feed-icon,
  .links,
  .messages,
  .status,
  .skip {
    display: none !important;
  }
  #page {
    width: 100%;
  }
  #main {
    margin: 20px 0;
    width: auto;
  }
  a:hover,
  a:active,
  a:link,
  a:visited {
    color: black;
  }
  .collapsible > div,
  .ctools-collapsed > div {
    display: block !important;
  }
  div#ubc7-unit {
    background: #fff !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* CSS2 selector to add visible href after links. */
  #content a:link:after,
  #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
