//
// Custom Utility classes
// --------------------------------------------------

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.floatleft, .floatl { float: left; margin: 0 10px 5px 0; }
.floatright, .floatr { float: right; margin: 0 0 5px 10px; }
.visuallyhidden, .element-invisible, .skip a:link, .skip a:hover, .skip a:visited {
  position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.skip a:active, .skip a:focus { position: static; width: auto; height: auto; } 

/*a:link, a:visited, button {
 -webkit-transition: color 0.2s ease, background 0.3s ease;
 -moz-transition: color 0.2s ease, background 0.3s ease;
 -o-transition: color 0.2s ease, background 0.3s ease;
 transition: color 0.2s ease, background 0.3s ease; }*/

// Make sure ckeditor behaves and doesn't display a background image or colour
#cke_contents_edit-body-und-0-value body { background: none !important; }

// Images - resize your images that are larger than the viewport (remove inline size declarations from markup)
img, canvas {
 max-width: 100%;
 height: auto; } 
.ie8 img, .ie8 canvas { max-width: none; }
// Videos - make responsive by modifying wrapper
.media-youtube-outer-wrapper, .embedded-video {
 position: relative;
 padding-bottom: 56.25%; /* 16/9 ratio */
 padding-top: 30px; /* IE6 workaround*/
 height: 0;
 overflow: hidden; }
.media-youtube-outer-wrapper iframe,
.media-youtube-outer-wrapper object,
.media-youtube-outer-wrapper embed,
.embedded-video iframe,
.embedded-video object,
.embedded-video embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%; }

// UI improvments
//-------------------------
#edit-title {
 font-size: 24px; }
#system-themes-form img {
 width: 100px; }
.form-item .description {
 font-style: italic;
 line-height: 1.2em;
 .font-size(11);
 margin-top: 5px;
 color: #777; }
#edit-delete {
 color: #c00; }
// The word "Unpublished" displayed beneath the content.
.node-unpublished {
 background-color: #fff; }
.node-unpublished div.unpublished {
 height: 0;
 overflow: visible;
 color: #d8d8d8;
 .font-size(75);
 line-height: 1;
 font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
 font-weight: bold;
 text-transform: uppercase;
 text-align: center;
 word-wrap: break-word; }
// Console, style from Slate theme
/*div.messages {
 padding: 9px;
 margin: 1em 0;
 color: #036;
 background: #a0ccff;
 border: 1px solid #ace; }
div.warning {
 color: #840;
 background: #fe6;
 border-color: #ed5; }
div.error {
 color: #fff;
 background: #e63;
 border-color: #d52; }
div.status {
 color: #360;
 background: #cf8;
 border-color: #be7; }*/ 

// Custom Utilities for Drupal CLF
//-------------------------
.inflate {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

// DEFAULTS FOR CLF
//-------------------------
body {
background: #cccccc;
font-family: @sansFontFamily;
min-width: 240px; }
#ubc7-unit-menu .nav > li > a { padding: 9px 15px 11px; }
#main { background-color: @white; }
#ubc7-unit-identifier.no-umbrella {
line-height: 2.25em; }

// Unit Bar link and font colour
//-------------------------
#ubc7-unit,
#ubc7-unit-name a {
color: #FFFFFF;
text-shadow: 1px 1px 2px #333333; }
#ubc7-unit-name a:hover,
#ubc7-unit-name a:active {
text-shadow: 1px 2px 2px #333333; }

// FIX THE PRIMARY LINK ACTIVE STYLES
//-------------------------
#ubc7-unit-menu .nav > li > a.active {
background:  @ubcSilver;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
#ubc7-unit-menu .nav-collapse .nav > li > a:hover, #ubc7-unit-menu .nav-collapse .dropdown-menu a:hover, #ubc7-unit-alternate-navigation .nav-collapse .nav > li > a:hover, #ubc7-unit-alternate-navigation .nav-collapse .dropdown-menu a:hover {
color:  #fff;
text-decoration: none;
background-color: @ubcBlue !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none; }  

// add box shadow to container elements
/*#ubc7-header, div#ubc7-unit, #ubc7-unit-menu, ul.breadcrumb, #main, #ubc7-unit-footer, #ubc7-global-footer, #ubc7-minimal-footer {
-moz-box-shadow: 0px 3px 5px #444;
-webkit-box-shadow: 0px 3px 5px #444;
box-shadow: 0px 3px 5px #444; }*/

// FOOTER STYLES
//-------------------------
/** Social Icon **/
//#ubc7-unit-social-icons i { color: @ubcBlue; }
//#ubc7-unit-social-icons i:hover { color: @ubcLightGrey;}

// DEFAULT SUBNAV STYLES
//-------------------------
.bootstrap-sidenav ul {
margin: 0;}
.bootstrap-sidenav ul > li > a {
border: 1px solid #d7e0e7;
color: #002145;
display: block;
margin: 0 0 -1px;
padding: 8px 14px 8px 28px;
text-decoration: none; }

/* @group Redefine Bootstrap nav */
/*ul.menu {
margin-bottom: 0;
margin-left: 0;
list-style: none }
.nav.menu>li>a {
background-color: #fff;
display: block }
.nav.menu>li>a:hover {
color: #555;
text-decoration: none;
background-color: #eee }
.nav-tabs,.nav-pills {
*zoom: 1 }
.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after {
display: table;
line-height: 0;
content: "" }
.nav-tabs:after,.nav-pills:after {
clear: both }
.nav-tabs .menu>li,.nav-pills .menu>li {
float: left }
.nav-tabs .menu>li>a,.nav-pills .menu>li>a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px }
.nav-tabs .menu {
border-bottom: 1px solid #ddd }
.nav-tabs .menu>li {
margin-bottom: -1px }
.nav-tabs .menu>li>a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent; }
.nav-tabs .menu>li>a:hover {
border-color: #eee #eee #ddd }
.nav-tabs .menu>.active>a,.nav-tabs .menu>.active>a:hover {
color: #555;
cursor: default;
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent }
.nav-stacked .menu>li {
float: none }
.nav-stacked .menu>li>a {
margin-right: 0 }
.nav-tabs.nav-stacked {
border-bottom: 0 }
.nav-tabs.nav-stacked .menu>li>a {
border: 1px solid #ddd;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0 }
.nav-tabs.nav-stacked .menu>li>a:hover {
text-decoration: none; }
.nav-tabs.nav-stacked .menu>li>a:hover {
z-index: 2;
border-color: #ddd }
.nav-pills.nav-stacked .menu>li>a {
margin-bottom: 3px }
.nav-pills.nav-stacked .menu>li:last-child>a {
margin-bottom: 1px }*/
/* @end */

@media screen and (max-width:979px) {
// START 768-979 STYLES    
.inflate {
margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0; }

// END 768-979 STYLES
}
